footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='offical/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li( style='color:#0072b0;')
                        a(href='http://www.fyjsjxx.com/',style='color:#0072b0;' target='_blank') 学校官网
                        |   |
                        a(href='/zszt',style='color:#0072b0;' target='_blank')  招生专题网
                    li 学院地址：阜阳市清河西路569号
                    li 咨询Q Q：1224147811/1224211590
                    li 联系电话：0558-2118890/0558-2118891
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='offical/images/qcore1.png')
                span.text-center 招生专题网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=9d9c145a81a9c83b7a5ecfafb1a7682fca13d435dbdaef7761e68945e0f6f55f')
                    img(src='offical/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=db22f186a726958bc89bca598ecc9a3a9365bae5801f32ccf39a324f14f02be8')
                    img(src='offical/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 阜阳计算机学校特色专业网   ©版权所有