footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='offical/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li
                        a(href='http://www.lzmx.net/' target='_blank') 学校官网
                        |   |
                        a(href='/zszt' target='_blank')  招生专题网
                    li 学院地址：广西柳州市柳北区沙塘街45号
                    li 咨询Q Q：2629827304/2633606301
                    li 联系电话：0772-5050491<br/>0772-5050391
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='offical/images/qcore1.png')
                span.text-center 招生专题网
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=ad2e9f0a3eabbd246385f92a65acd7deff2b87ac756c99fe650d4af0e7942ae4')
                    img(src='offical/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=0deb598b71dd2b8de6248209ce36214c1e62b3764676f0696aeefa8ef0f9f6be')
                    img(src='offical/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 广西畜牧兽医学校特色专业网   ©版权所有