extends layout

block content
    script(type="text/javascript" src='offical/js/teacher.js')
    div.container.center.banner
        img.img-responsive.pc-bg(src='offical/images/banner.png')
        img.img-responsive.m-bg(src='offical/images/m-banner.png')
    div.container.center
        div.col-md-3.col-xs-12.row.pc-bg.pl-0
            div.zhaosheng
                a(href='/zszt/brochure')
                    img.img-responsive(src='offical/images/bg1.png')
                a(href='/zszt/news')
                    img.img-responsive(src='offical/images/bg2.png')
        div.col-md-9.col-xs-12.info
            div.info-title
                h4 师资队伍
            div.teacher-title
                span 学校师资力量雄厚，拥有一支理论扎实、教学经验丰富的教师队伍，其中“双师型”教师达到了166人。相关老师在各项专业、学术领域成绩优秀突出，深耕教学，坚持“笃志、严谨、探索、奉献”的教学风格，严格规范学校教学和管理。
            div.teacher
