footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='../zszt/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li
                        a(href='http://www.la-zh.com/' target='_blank') 学校官网
                        |   |
                        a(href='/' target='_blank') 特色专业网
                    li 学院地址：六安市将军路中段（西站向南800米，裕安区教育局隔壁）
                    li 咨询Q Q：1829074487/1802046758
                    li 联系电话：0711-3561598
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                //img(src='../zszt/images/qcore1.png')
                span.text-center 特色专业网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=d29dc26d209204f0c564fbb38d55d250901d9b5b14e44c357df92541cd9fde5f')
                    img(src='../zszt/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=31003355b8475f5c2aa3d8b5d9b9f757a1cc7814ccc38646e5e46e35ac7b6caf')
                    img(src='../zszt/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 六安振华职业中专学校招生专题网   ©版权所有