footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='offical/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li( style='color:#0072b0;')
                        a(href='http://www.xwcbjx.com/Ch/',style='color:#0072b0;' target='_blank') 学校官网
                        |   |
                        a(href='/zszt',style='color:#0072b0;' target='_blank')  招生专题网
                    li 北大校区：南宁市北大北路 24 号
                    li 武鸣东盟校区：广西-东盟经济技术开发区教育路7号
                    li 咨询Q Q：2648279101/2650282503
                    li 联系电话：0771-6715208/0771-6715209
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='offical/images/qcore1.png')
                span.text-center 特色专业网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=93013cb051e49d36813249ed7882026b012986ab5ef1290cbd99764c7d8a00b3')
                    img(src='offical/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=ebbc36d00eb38c02ab163bd075e02fa56a016a76f010cf9712cc356f4c336746')
                    img(src='offical/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 广西新闻出版技工学校   ©版权所有