extends layout

block content
    script(type="text/javascript" src='offical/js/accouting.js')
    script.
        document.title="计算机网络应用（网站开发方向）_广西新闻出版技工学校特色专业网";
        $.get('http://api.7171.la/api/profession?token=xwcb&code=b3ebb144a7125704b9a9c0a7ae007039&type=101');


    div.center.banner
        img.img-responsive.pc-bg(src='offical/images/banner.jpg')
        img.img-responsive.m-bg(src='offical/images/m-banner.jpg')
    div.container.center
        div.col-md-3.col-xs-12.pc-bg.row
            .item-nav
                .item-nav-title
                    span.text-center 专业设置
                div
                    a(href='/accouting')
                        span.h4 会计
                        span.h4
                            i.iconfont.icon-triangle-copy-copy-copy
                            | 互联网金融方向
                div
                    a(href='/accouting1')
                        span.h4 会计
                        span.h4
                            i.iconfont.icon-triangle-copy-copy-copy
                            | 会计信息化方向
                div
                    a(href='/artdesign')
                        span.h4 美术设计与制作
                        span.h4
                            i.iconfont.icon-triangle-copy-copy-copy
                            | UI设计方向
                div
                    a(href='/artdesign1')
                        span.h4 美术设计与制作
                        span.h4
                            i.iconfont.icon-triangle-copy-copy-copy
                            | 电商设计方向
                div.active
                    a(href='/computer')
                        span.h4 计算机网络应用
                        span.h4
                            i.iconfont.icon-triangle-copy-copy-copy
                            | 网站开发方向
                div
                    a(href='/computer1')
                        span.h4 计算机网络应用
                        span.h4
                            i.iconfont.icon-triangle-copy-copy-copy
                            | 移动应用开发方向
            div.zhaosheng
                a(href='/zszt/brochure')
                    img.img-responsive(src='offical/images/bg1.png')
                a(href='/zszt/news')
                    img.img-responsive(src='offical/images/bg2.png')
        div.col-md-9.col-xs-12.info
            div.info-title
                h4 计算机网络应用（网站开发方向）
            div.special-box
                div
                    div.special.target
                        i.iconfont.icon-mubiao
                        span 培养目标
                    span#train
                    .pic-box
                        div.col-xs-4
                            img.img-responsive#img1
                        div.col-xs-4
                            img.img-responsive#img2
                        div.col-xs-4
                            img.img-responsive#img3
                div
                    div.special.course
                        i.iconfont.icon-shu
                        span 主要课程
                    span#course
                div
                    div.special.area
                        i.iconfont.icon-zhongqingdianxinicon05
                        span 就业领域
                    span#area