extends layout

block content
    script(type="text/javascript" src='../zszt/js/sc_info.js')
    div.container.center.banner
        img.img-responsive.pc-bg(src='../zszt/images/banner.jpg')
        img.img-responsive.m-bg(src='../zszt/images/m-banner.jpg')
    div.container.center
        div.col-md-3.col-xs-12.row.pc-bg
            div.zhaosheng
                a(href='/zszt/sign')
                    img.img-responsive(src='../zszt/images/bg10.png')
                a(href='/zszt/accouting')
                    img.img-responsive(src='../zszt/images/bg11.png')
        div.col-md-9.col-xs-12.info
            div.info-title
                h4 学院简介
            div.col-md-12.col-xs-12
                div.sc-info