doctype html
html
  head
    title 淮南女子职业学校特色专业网
    meta(http-equiv="X-UA-Compatible" content="IE=EDGE")
    meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(name="renderer" content="webkit")
    meta(name="keywords" content="淮南女子职业学校特色专业网,特色专业网,淮南女子职业学校")
    meta(name="description" content="淮南女子职业学校特色专业响应国家号召的“互联网+”行动计划，开设商务助理，美术设计与制作，电子与信息技术等重点特色专业，培养互联网实战应用紧缺人才。")
    link(rel="shortcut icon" href="offical/images/logo.ico" type="image/x-icon")
    link(rel='stylesheet', href='offical/css/bootstrap.min.css')
    link(rel='stylesheet', href='offical/css/swiper.min.css')
    link(rel='stylesheet', href='offical/css/iconfont.css')
    link(rel='stylesheet', href='offical/css/header.css')
    link(rel='stylesheet', href='offical/css/common.css')
    link(rel='stylesheet', href='offical/css/footer.css')
    link(rel='stylesheet', href='offical/css/mobail.css')
    link(rel='stylesheet', href='offical/css/adopt.css')
    script(type="text/javascript" src='offical/js/jquery-3.2.1.min.js')
    script(type="text/javascript" src='offical/js/swiper.jquery.min.js')
    script(type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true")
    script(type="text/javascript" src='offical/js/bootstrap.min.js')
    script(type="text/javascript" src='offical/js/main.js')
  body
    include header
    block content
    include footer
