extends layout

block content
    script(type="text/javascript" src='offical/js/teacher.js')
    div.center.banner
        img.img-responsive.pc-bg(src='offical/images/banner.jpg')
        img.img-responsive.m-bg(src='offical/images/m-banner.png')
    div.container.center
        div.col-md-3.col-xs-12.row.pc-bg
            div.zhaosheng
                a(href='/zszt/brochure')
                    img.img-responsive(src='offical/images/bg7.png')
                a(href='/zszt/news')
                    img.img-responsive(src='offical/images/bg8.png')
        div.col-md-9.col-xs-12.info
            div.info-title
                h4 师资队伍
            div.teacher-title
                span 学校自创校以来高度重视人才队伍建设，贯彻理论与实践并行、知识与技能并重的教学模式，建立了一支实力雄厚、治学严谨的“双师型”教学队伍，专业老师具备多年的项目工作经验和教学经验，引导学生从具体的实践操作中获取企业的工作流程与工作经验。
            div.teacher
