doctype html
html
  head
    title 广东江南理工技工学校招生专题网
    meta(http-equiv="X-UA-Compatible" content="IE=EDGE")
    meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(name="renderer" content="webkit")
    meta(name="keywords" content="广东江南理工技工学校招生专题网,重点特色专业招生网,广东江南理工技工学校")
    meta(name="description" content="广东江南理工技工学校特色专业响应国家号召的“互联网+”行动计划，开设计算机动画制作，计算机广告制作，平面设计等重点特色专业，培养互联网实战应用紧缺人才。")
    link(rel="shortcut icon" href="../zszt/images/logo.ico" type="image/x-icon")
    link(rel='stylesheet', href='../zszt/css/bootstrap.min.css')
    link(rel='stylesheet', href='../zszt/css/iconfont.css')
    link(rel='stylesheet', href='../zszt/css/header.css')
    link(rel='stylesheet', href='../zszt/css/common.zs.css')
    link(rel='stylesheet', href='../zszt/css/footer.css')
    link(rel='stylesheet', href='../zszt/css/mobail.css')
    link(rel='stylesheet', href='../zszt/css/adopt.css')
    script(type="text/javascript" src='../zszt/js/jquery-3.2.1.min.js')
    script(type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true")
    script(type="text/javascript" src='../zszt/js/bootstrap.min.js')
    script(type="text/javascript" src='../zszt/js/main.js')
  body
    include header
    block content
    include footer