extends layout

block content
    script(type="text/javascript" src='../zszt/js/news.js')
    div.container.center.banner
        img.img-responsive.pc-bg(src='../zszt/images/banner.png')
        img.img-responsive.m-bg(src='../zszt/images/m-banner.png')
    div.container.center
        div.col-md-3.col-xs-12.pc-bg
            div.zhaosheng
                a(href='/zszt/sign')
                    img.img-responsive(src='../zszt/images/bg7.png')
                a(href='/zszt/accouting')
                    img.img-responsive(src='../zszt/images/bg8.png')
        div.col-md-9.col-xs-12.info
            div.info-title
                h4 招生快讯
                div.info-title-right.pc-bg
                    span
                        a(href='/') 首页
                    span >
                    span
                        a(href='/enrollment_plan') 招生计划
            div.news
                span.h3
                div.news-info
                    span
                div.page