html{
	height: 100%;	
}
html,body{
	font-family: "微软雅黑";
}
body{
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	min-height: 500px;
	left: 0;
	-webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}
a{
	color: #000;
}
a:hover,a:focus{
	color: #000;
	text-decoration: none;
	outline:hidden;
}
h4{
	color: #333;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.clear{
	overflow: hidden;
}
.width-3{
	float: left;
	width: 33.3%;
}
.width-6{
	float: left;
	width:66.6%;
}
.container{
	padding: 0;
}
.center{
	margin: 27px auto;
}
.banner{
	margin-top: 0;
}
.banner-bottom{
	margin-bottom: 0;
}
.banner-bottom img{
	width:100%;
}
/*liangge*/
.two{
	overflow: hidden;
	width: 100%;
}
.two > div{
	float: left;
	width: 48%;
	margin: 15px 0;
}
.two > div:nth-of-type(even){
	margin-left: 4%;
}
/*sange*/
.three{
	overflow: hidden;
	width: 100%;
}
.three > div{
	float: left;
	width: 31.3%;
	margin: 15px 0;
	padding: 0;
}
.three img{
	width: 100%;
}
.three > div:nth-of-type(2),.three > div:nth-of-type(5){
	margin: 15px 3%;
}
/*2:1*/
.two-one,.five{
	overflow: hidden;
	width: 100%;
}
.two-one >div:first-of-type{
	width:65.6%;
	float: left;
	margin: 15px 0;
	margin-right: 3%;
}
.two-one >div:nth-of-type(2){
	width:31.3%;
	float: left;
	margin: 15px 0;
}
/*5 ge*/
.five > div{
    float: left;
    width:19%;
    margin: 20px 0;
    cursor: pointer;
}
.five > div:nth-of-type(even){
    margin: 15px 1.25%;
}
#none{
	display: none;
    margin: 15px 0;
}
.banner img{
	width: 100%;
}
.passageway > a{
	display: block;
	margin-bottom: 15px;
}
.passageway img{
	width:100%;
}
.news-list > div i,.news-list > div p{
	float: left;
	color: #656565;
}
.news-list > div{
	padding: 7px 0;
    overflow: hidden;
}
.news-list > div p{
	margin-bottom: 0;
	font-size: 15px;
	word-break:keep-all;           /* 不换行 */
	white-space:nowrap;          /* 不换行 */
	overflow:hidden;               /* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;         /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
	width: 70%;
}
.news-list > div span{
	float: right;
	color: #9c9c9c;
}

.zhaosheng img{
	margin-bottom: 20px;
}
.info-title{
	padding: 2px 0;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	position: relative;
}
.info-title h4{
	color: #333;
	font-weight: bolder;
	display: inline-block;
	margin-top: 0;
    position: relative;
    margin-bottom: 7px;
}
.info-title  p{
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: #bc2626;
    margin:0;
}
.info-title-right{
	float: right;
}
.info-title-right i{
	display: inline-block;
	color: #ffc000;
}
.info-title-right span,.info-title-right a{
	color: #b4b4b4;
	margin: 0 1px;
}
.theme-list >div {
    overflow: hidden;
    margin: 10px 0;
    border-bottom: 1px dashed #e5e5e5;
}
.theme-list >div img{
	display: block;
	width: 100%;
}
.imgThumb{
	padding-left: 0;
	margin-bottom: 10px;
}
.theme-list >div > div {
    margin-bottom: 10px;
    padding-left: 0;
}
.theme-list >div:hover .h4{
	color: #891b1c;
}
.dyn .tl-title .h4{
	width: 100%;
}
.tl-title .h4 {
    margin: 0 0 10px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tl-title span:nth-of-type(2) {
    float: right;
    color: #c8c8c8;
    font-size: 14px;
}
.tl-title span {
    display: inline-block;
    text-indent: 0;
}
.theme-list p {
    color: #a6a6a6;
    text-indent: 29px;
    height: 40px;
    overflow: hidden;
    line-height: 20px !important;
}
/*.p-page .pagination>li>a{
	margin-right: 5px;
	background: #e8e8ea;
	color: #5e5e5e;
}*/
.p-page .pagination{
	margin-left: 20%;
}
.m-page a{
	border-radius: 5px !important;
	color: #007e40;
}
.m-page li:first-of-type{
	float: left;
}
.m-page li:last-of-type{
	float: right;	
}
.content{
    margin-top: 4px;
    /*border-top: 2px solid #ececec;*/
    padding-top: 5px;
}
.sc-info{
	margin-top: 30px;
    display: block;
}
.sc-info img{
	max-width:100%;
}
.list-item{
    margin: 20px 0 0;
    border-bottom: 1px dashed #ebebeb;
}
.list-item i,.list-item p,.list-item span{
    display: inline-block;
    vertical-align: bottom;
}
.list-item i{
    color: #163b8a;
    font-size: 14px;
    vertical-align: top;
	margin-right: 5px;
	font-width:bold;
}
.list-item p{
    color: #4e4e4e;
    font-size: 15px;
    line-height: 15px;
    word-break:keep-all;           /* 不换行 */
	white-space:nowrap;          /* 不换行 */
	overflow:hidden;               /* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;         /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
	width: 70%;
}
.list-item span{
	float: right;
    color: #999;
    font-size: 14px;
    line-height: normal;
}
.info-content >div:first-of-type{
	padding-left: 0;
}
.item-nav{
	margin-bottom: 30px;
}
.item-nav-title{
	background: #b43131 !important;
}
.item-nav-title span{
	color: #fff !important;
	display: block;
	font-size:18px !important;
	margin: 0 !important;
}
.item-nav > div {
	background: #f5f5f5;
	border-bottom: 1px solid #dbdbdb;
	padding: 15px 0;
	width: 88%;
	cursor: pointer;
}
.item-nav > div:nth-of-type(7){
	border-bottom: 0;
}
.item-nav > div:first-of-type{
	position: relative;
}
.item-nav > div:first-of-type img{
    position: absolute;
    left: -10px;
    top: 7px;
}
.item-nav > div:first-of-type p{
	color: #fff;
    font-weight: bolder;
    position: absolute;
    top: 15px;
    left: 75px;
    font-size: 20px;
}
.item-nav > div i{
	color: #dbdbdb;
	display: inline-block;
	margin-left: 13%;
	margin-right: 3%;
	-webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}
.item-nav > div span:first-of-type {
	margin-left: 23%;
	font-weight: normal;
}
.item-nav > div span{
	font-size: 16px;
	color: #666;
	font-weight: bold;
	margin: 5px 0;
	font-weight:bold;
	display: block;
	-webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}
.item-nav > div.active i,.item-nav > div:hover i{
	color: #b43131;
}
.item-nav > div.active span,.item-nav > div:hover span{
	color: #b43131;
}
.special{
    width: 110px;
    height: 35px;
	background: url(../images/bg3.png) 97% 97% no-repeat;
	border: 1px solid #f6f6f6;
	margin: 10px 0;
}
.special i,.special span{
	padding: 7px 5px;
	display: inline-block;
}
.target i,.target span{
	color: #242e76;
}
.special span{
	font-size: 16px;
	padding-left: 0;
}
.course{
	background: url(../images/bg4.png) 97% 97% no-repeat;
}
.area{
	background: url(../images/bg5.png) 97% 97% no-repeat;
}
.course i,.course span{
	color: #06a28d;
}
.area i,.area span{
	color: #5c801c;
}
.special-box >div{
	margin-bottom: 15px;
}
.special-box >div >span{
	display: inline-block;
	text-indent: 32px;
	font-size: 16px;
	line-height: 26px;
}
.special-box >div >div{
	overflow: hidden;
	margin: 10px 0;
}
.sign{
	width: 86%;
	margin: 0 auto;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border: 10px solid;
    border-image: -webkit-linear-gradient( #fff, #ededed) 30 30;
    border-image: -moz-linear-gradient( #fff, #ededed) 30 30;
    border-image: linear-gradient( #fff, #ededed) 30 30;
    padding: 10px;
    overflow: hidden;
}
.sign .info-title{
	border: 0;
	padding: 0;
}
.sign-form .form-group {
    display: flex;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    justify-content: center;
    align-items: center;
}
.sign-form .control-label{
	float: right;
	padding: 0 !important;
	color: #3e3e3e;
}
.choose {
    position: relative;
    height: 30px;
}
.choose .radio {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #0c4757;
    padding-left: 25px;
    padding-top: 0;
	margin-right: 5px;
    cursor: pointer;
    top: 4px;
}
.choose .radio input {
    position: absolute;
    left: -9999px;
}
.choose .radio i {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    outline: 0;
    border: 1px solid #e4e4e4;
    background: #ffffff;
    border-radius: 50%;
    transition: border-color .3s;
    -webkit-transition: border-color .3s;
}
.choose .radio input + i:after {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #0e76d2;
    opacity: 0;
    transition: opacity .1s;
    -webkit-transition: opacity .1s;
}
.choose .radio input:checked + i:after {
    opacity: 1;
}
.sign-form .form-group i{
	color: #ee0000;
	font-style: normal;
	display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
    margin-bottom: 0;
    float: initial;
}
.sign-form .form-group span{
	color: #cc0000;
}
.tip span{
	color: #666 !important;
}
.sign-form .btn{
    padding: 6px 25px;
	background: #ffc106;
    -moz-box-shadow: 0px 2px 1px #c99300;
    -webkit-box-shadow: 0px 2px 1px #c99300;
    box-shadow: 0px 2px 1px #c99300;
    width: 30%;
}
.contact-box{
	margin: 40px 0;
}
.contact-box img{
	display: block;
	margin: 10px auto;
}
.contact-box label{
	color: #333;
	font-size: 15px;
	display: block;
}
.contact-box img{
	margin: 10px auto;
}
.contact-box p{
	display: inline-block;
	margin-left: 49px;
    margin-top: 12px;
}
.contact-box span{
	color: #333;
	font-size: 15px;
	display: block;
}
.contact-address{
	margin-bottom: 15px;
}
.contact-address label{
	padding-bottom: 5px;
	font-size: 15px;
}
.contact-address span{
	display: block;
	text-indent: 0;
	color: #3b3b3b;
	line-height: 25px;
	margin: 10px 0;
}
.news{
	margin: 25px 0;
}
.news .h3 {
    display: block;
    width: 80%;
    margin: 0 10%;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}
.news-info {
	margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.news-info span {
    color: #b8b8b8;
    display: inline-block;
    margin: 5px 15px;
    font-size: 14px;
    text-indent: 0;
}
.page img {
	display: block;
	margin: 15px auto;
	max-width: 100%;
}
.contacr-address{
	margin: 10px 0;
}
.contacr-address label{
	font-size: 16px;
}
.contacr-address span{
	display: block;
	margin: 5px 0;
}
.news {
    margin: 25px 0;
}
.news .h3 {
    display: block;
    width: 80%;
    margin: 0 10%;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}


/*标题*/
.news-title {
	/*background: #f5f5f5;*/
	overflow: hidden;
	position: relative;
}
.news-title p {
	height: 3px;
	margin: 0;
	background: #972c2b;
	position: absolute;
	bottom: 0;
	width: 100%;
	/*background-image: -webkit-linear-gradient(to left, #089878, #3dd05c, #089878);
	background-image: linear-gradient(to left, #089878, #3dd05c, #089878);
	background-image: -moz-linear-gradient(to left, #089878, #3dd05c, #089878);*/
}
.news-title >div:first-of-type {
	float: left;
	margin: 10px 0;
}
.news-title i{
	color: #972c2b;
	margin-right: 7px;
	font-size: 20px;
	vertical-align: middle;
	display: inline;
}
.news-title>div:first-of-type span{
	color: #333;
}
.more{
	float: right;
	margin: 10px;
	cursor: pointer;
}
.more i{
	margin: 0;
}
.more i,.more span{
	color: #999;
}
/*30:35:35*/
.index{
	overflow: hidden;
}
.index > div{
	float: left;
	width: 36%;
	margin:15px 0;
}
.index > div:first-of-type{
	width:25%;
}
.index > div:nth-of-type(2){
	margin: 15px 1.5%;
}
/*额外*/
.campus-title{
	border-bottom: 2px solid #eee;
}
.campus-title>div:first-of-type{
	position: absolute;
}
.campus-title>div:first-of-type p{
	bottom: -2px;
}
.lunbo .pagination{
	position: absolute;
	bottom: 0px;
	background: rgba(0,0,0,0.8);
	margin: 0;
	width: 100%;
	z-index: 2;
	border-radius: 0;
}
.lunbo .pagination >div:first-of-type{
	width: 85%;
	float: left;
}
.lunbo .pagination h5{
	color: #fff;
	padding-left: 5px;
	width: 90%;
	overflow: hidden;
	word-break:keep-all;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.lunbo .pagination .index{
	float: left;
	width:15%;
	margin: 8px 0;
}
.lunbo .pagination .index span{
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: #9e8886;
	cursor: pointer;
}
.lunbo .pagination .index span.active{
	background: #d1403f;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next,.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	background-image: none;
	opacity:1;
}
.shizi{
	margin:15px 0;
}
.shizi .swiper-slide>div{
	max-width: 160px;
	margin:0 auto;
	position: relative;
}
.shizi i{
	font-size: 40px;
	color: #faba4b;
}
.shizi p{
	background: #657384;
	padding: 5px 0;
	position: absolute;
	width: 100%;
	bottom:0;
	margin:0;
}
.shizi span{
	display: inline-block;
	color: #fff;
}
.shizi span:first-of-type{
	font-size: 16px;
}
.shizi span:nth-of-type(2){
	font-size: 12px;
	margin-left: 3px;
}
.pagination>li{

}
.pagination>li>a, .pagination>li>span{
    margin-right: 7px;
    background: #e9ebe9;
    color: #696969;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    color: #921605;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    color: #fff;
    background: #921605;
    border-color: #921605;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0;
}
.teacher-title{
	margin: 30px 0;
}
.teacher-title span{
	display: block;
	font-size: 16px;
	text-indent: 32px;
	color: #333;
	line-height: 27px;
}
.teacher-box{
	width: 21%;
	margin: 2% 2%;
	float: left;
	position: relative;
	cursor: pointer;
}
.teacher-box img{
	display: block;
	width:100%;
}
.teacher-box > p{
	width:100%;
	position: absolute;
	bottom: 0;
	padding: 5px;
	background: rgba(101,115,132,.7);
	color: #fff;
	margin:0;
}
.teacher-box:hover >div {
	top: 0;
	visibility: visible;
}

.teacher-box >div{
	position: absolute;
	top: 90%;
	bottom: 0;
	width: 100%;
	background: rgba(101,115,132,.7);
	display: table-cell;
	visibility: hidden;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-ms-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
}
.teacher-box:hover >p {
	visibility: hidden;
}
.teacher-box >div p{
	padding: 30px 15px;
	background: transparent;
	color: #fff;
}
.mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 2;
	min-width: 320px;
	visibility: hidden;
}
.mask > div {
	position: fixed;
	top: 10%;
	left: 5%;
	width: 90%;
	height:80%;
}
.mask img{
	display: block;
	margin: 0 auto;
}
.gallery-thumbs{
	margin-top: 15px;
}
.gallery-thumbs .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.7;
}
.gallery-thumbs .swiper-slide-active {
	opacity: 1;
}
