footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='../zszt/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li
                        a(href='http://ahyslyxx.com/' target='_blank') 学校官网
                        |   |
                        a(href='/' target='_blank')  特色专业网
                    li 学院地址：安徽省阜阳市颍上县县经济开发区经五路68号
                    li 咨询Q Q：2586638391/2586719492
                    li 联系电话：0558-2186612/0558-2186613
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='../zszt/images/qcore1.png')
                span.text-center 特色专业网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=473e3b609243ef3052c5fa8abfbeaa467076597a18cde92d625d21a18e019c65')
                    img(src='../zszt/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=a71a17de082f1bcfb1b2e2a01dd3eaaadf2fe6bef417a3570a86172a0042bc36')
                    img(src='../zszt/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 颍上旅游职业学校招生专题网   ©版权所有