footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='../zszt/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li
                        a(href='http://www.xfzyjy.cn/' target='_blank') 学校官网
                        |   |
                        a(href='/' target='_blank')  特色专业网
                    li 学院地址：息烽县小寨坝镇复兴路101号
                    li 咨询Q Q：1223549075/1223646194
                    li 联系电话：0851-87717411/0851-87723611
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='../zszt/images/qcore1.png')
                span.text-center 特色专业网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=dd0a3e6055a8d31d6574b6517e4adc14138f54998b992edd98107a1d3a649a41')
                    img(src='../zszt/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=955f868826ace3486d646382edb45067db02d0956415120e63dbfb5a14ab0d99')
                    img(src='../zszt/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 贵州息烽县中等职业学校招生专题网   ©版权所有