footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='offical/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li( style='color:#fefefe;')
                        a(href='http://www.gdjnlg.com/',style='color:#fefefe;' target='_blank') 学校官网
                        |   |
                        a(href='/zszt',style='color:#fefefe;' target='_blank')  招生专题网
                    li 学院地址：广州市白云区江高新楼路31号。
                    li 咨询Q Q：2591901293&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2603852959
                    li 联系电话：020-31236614/020-31236649
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='offical/images/qcore1.jpg')
                span.text-center 特色专业网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=be31afd53b5bb7af9d054b86f26fb42bd6e4bf3f85d4fa5b532e55cd9f3f48bd')
                    img(src='offical/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=44475e594ae00f9aa7bfc7d207d4c358d656a59152d98e8b8f1fb2d320eacb27')
                    img(src='offical/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 广东江南理工技工学校特色专业网      ©版权所有