extends layout

block content
    script(type="text/javascript" src='offical/js/index.js')
    .center.banner
        img.img-responsive.pc-bg(src='offical/images/banner.jpg')
        img.img-responsive.m-bg(src='offical/images/m-banner.png')
    .container.center
        .type
            label.h4
                | 新闻
                span 中心
            span News Reporting Center
            p
        .clear
            .width-6.dyn
                div
                    label.h4 学校动态
                    .more
                        a(href='dynamics')
                            span +more
                .dyn-list

            .width-3.jiuye
                label.h4 就业实习
                .more
                    a(href='employment')
                        span +more
                .col-xs-12
                    .swiper-container.lunbo
                        .swiper-wrapper.shixi
                            .swiper-slide(v-for='item in stuList')
                                a(href='#')
                                    img.img-responsive(:src='item.pic')
                        // Add Pagination
                        .pagination
                            div
                                h5
                            .index

        .co.center
            label.h4 专业建设
            .more
                a(href='/sconstruction')
                    span +more
            .two.sc

    .container.center
        .youshi-title.clear
            .type
                label.h4
                    | 党团
                    span 建设
                span The construction of the Party group
            .more.youshi-more
                a(href='/construction')
                    span +more
            p
        .youshi.three.dang

    .campus
        .container
            .campus-title.clear
                .type
                    label.h4
                        | 校园
                        span 环境
                    span  School Environment
                .more.thumb
                    span +more
                p
            .campus-box
                .col-md-3.col-xs-6
                    img.img-responsive(src='offical/images/bg3.jpg')
                .col-md-3.col-xs-6
                    img.img-responsive(src='offical/images/bg4.jpg')
                .col-md-3.col-xs-6
                    img.img-responsive(src='offical/images/bg5.jpg')
                .col-md-3.col-xs-6
                    img.img-responsive(src='offical/images/bg6.jpg')
    div.banner-bottom
        img.img-responsive.pc-bg(src='offical/images/banner1.png')
        img.img-responsive.m-bg(src='offical/images/m-banner1.png')

    .mask
        div
            .swiper-container.gallery-top.big
                .swiper-wrapper
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic1.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic2.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic3.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic4.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic5.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic6.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic7.jpg')
                .swiper-button-next.carousel-control.g-n
                .swiper-button-prev.carousel-control.g-p
            .swiper-container.gallery-thumbs
                .swiper-wrapper
                    .swiper-slide
                        img.img-responsive(src='offical/images/thumb1.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/thumb2.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/thumb3.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/thumb4.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/thumb5.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/thumb6.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/thumb7.jpg')