extends layout

block content
    script(type="text/javascript" src='offical/js/construction.js')
    script.
        $(function () {
            document.title="专业建设_广东江南理工技工学校特色专业网";
            $.news('http://api.7171.la/api/article?token=jnlgjg&code=6f4e1d3398ce113a4810398a61ebb4e4&type=180',4)
        });
    div.center.banner
        img.img-responsive.pc-bg(src='offical/images/banner.jpg')
        img.img-responsive.m-bg(src='offical/images/m-banner.png')
    div.container.center
        div.col-md-3.col-xs-12.pc-bg.row
            div.zhaosheng
                a(href='/zszt/brochure')
                    img.img-responsive(src='offical/images/bg7.png')
                a(href='/zszt/news')
                    img.img-responsive(src='offical/images/bg8.png')
        div.col-md-9.col-xs-12.info
            div.info-title
                h4 专业建设
            div.col-md-12.col-xs-12
                div.action-news-list
                    span#none 资料正在整理中..


                // fenye
                nav#page.p-page(aria-label='Page navigation')
                    ul.pagination
                        li.prev
                            a(href='#', aria-label='Previous')
                                span(aria-hidden='true') 上一页
                        li.jump
                            a(href='#') 1
                        li.next
                            a(href='#', aria-label='Next')
                                span(aria-hidden='true') 下一页
                nav#page1.m-page(aria-label='...')
                    ul.pager
                        li.prev
                            a(href='#') 上一页
                        li.next
                            a(href='#') 下一页