extends layout

block content
    script(type="text/javascript" src='offical/js/teacher.js')
    div.center.banner
        img.img-responsive.pc-bg(src='offical/images/banner.jpg')
        img.img-responsive.m-bg(src='offical/images/m-banner.png')
    div.container.center
        div.col-md-3.col-xs-12.row.pc-bg
            div.zhaosheng
                a(href='/zszt/brochure')
                    img.img-responsive(src='offical/images/bg7.png')
                a(href='/zszt/news')
                    img.img-responsive(src='offical/images/bg8.png')
        div.col-md-9.col-xs-12.info
            div.info-title
                h4 师资队伍
            div.teacher-title
                span 学校师资力量雄厚，拥有一支素质高、业务能力强、企业工作经验丰富的教师队伍，相关老师在各项专业、学术领域成绩优秀突出，深耕教学，严格规范学校教学和管理，努力打造有特色、有内涵、有实力的教学管理特色。
            div.teacher
