extends layout

block content
    script(type="text/javascript" src='offical/js/index.js')
    .container.center.banner
        img.img-responsive.pc-bg.img1(src='offical/images/banner.png')
        img.img-responsive.m-bg.img2(src='offical/images/m-banner.png')
    .container.center.two
        div
            .news-title
                div
                    p
                    span 学院动态
                .more
                    a(href='/dynamics')
                        span 更多+
            div.dyn
        div
            .news-title
                div
                    p
                    span 专业建设
                .more
                    a(href='/sconstruction')
                        span 更多+
            div.sc

    .container.center.three
        div
            .news-title
                div
                    p
                    span 党团建设
                .more
                    a(href='/construction')
                        span 更多+
            div.dang
        div
            .news-title
                div
                    p
                    span 就业实习
                .more
                    a(href='/employment')
                        span 更多+
            div.shixi
        div
            .news-title
                div
                    p
                    span 师资队伍
                .more
                    a(href='/teacher')
                        span 更多+
            div.swiper-container.shizi
                div.swiper-wrapper
                .swiper-button-next.carousel-control.t-n
                    i.iconfont.icon-right
                .swiper-button-prev.carousel-control.t-p
                    i.iconfont.icon-back
    .container.center
        .news-title
            div
                p
                span 校园风光
            .more.thumb
                    span 更多
        .campus-box
            div
                img.img-responsive(src='offical/images/bg13.jpg')
            div
                img.img-responsive(src='offical/images/bg14.jpg')
            div
                img.img-responsive(src='offical/images/bg15.jpg')
            div
                img.img-responsive(src='offical/images/bg16.jpg')
            .pc-bg
                img.img-responsive(src='offical/images/bg17.jpg')
    .center(style='margin-bottom: 0;')
        img.img-responsive.pc-bg(src='offical/images/banner1.png')
        img.img-responsive.m-bg(src='offical/images/m-banner1.png', style='width: 100%;')
    .mask
        div
            .swiper-container.gallery-top
                .swiper-wrapper
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic1.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic2.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic3.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic4.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic5.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic6.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/pic7.jpg')
                .swiper-button-next.carousel-control.g-n
                    i.iconfont.icon-right
                .swiper-button-prev.carousel-control.g-p
                    i.iconfont.icon-back
            .swiper-container.gallery-thumbs
                .swiper-wrapper
                    .swiper-slide
                        img.img-responsive(src='offical/images/themb1.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/themb2.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/themb3.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/themb4.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/themb5.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/themb6.jpg')
                    .swiper-slide
                        img.img-responsive(src='offical/images/themb7.jpg')

