extends layout

block content
    script(type="text/javascript" src='offical/js/teacher.js')
    div.container.center.banner
        img.img-responsive.pc-bg(src='offical/images/banner.png')
        img.img-responsive.m-bg(src='offical/images/m-banner.png')
    div.container.center
        div.col-md-3.col-xs-12.row.pc-bg
            div.zhaosheng
                a(href='/zszt/brochure')
                    img.img-responsive(src='offical/images/bg7.png')
                a(href='/zszt/news')
                    img.img-responsive(src='offical/images/bg8.png')
        div.col-md-9.col-xs-12.info
            div.info-title
                h4 师资队伍
            div.teacher-title
                span 学校深入实施人才强校战略，拥有一支实力雄厚的高水平师资队伍，坚持以人为本、协调发展的工作原则，着力抓好人才队伍建设，积极营造有利于人才成长的良好环境。
                span 双师型教师队伍，兼备教育教学能力与企业项目工作经验，为课程开发、教育教学、服务管理等提供了强有力的保障。
            div.teacher
