footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='../zszt/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li
                        a(href='#' target='_blank') 学校官网
                        |   |
                        a(href='/ ' target='_blank')  特色专业网
                    li 学院地址：灵璧县灵城镇建设北路18号
                    li 咨询Q Q：1802871125/1802954365
                    li 联系电话：0558-2567108
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='../zszt/images/qcore1.png')
                span.text-center 特色专业网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=b5c1c5aca5cf1469fc66d3cd40aca7cc36d20a20e1920ba4d7ba99921cdf2797')
                    img(src='../zszt/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=0b1c25822f4cdddc975fe7aa3b9a9b3063f030ab6bca2c86a26ffc9297916c00')
                    img(src='../zszt/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 灵璧文博职业学校——招生专题网   ©版权所有