footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='offical/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li( style='color:#891b1c;')
                        a(href='http://www.nngmzyxx.com/' style='color:#891b1c;' target='_blank') 学校官网
                        |   |
                        a(href='/zszt',style='color:#891b1c;' target='_blank')  招生专题网
                    li 学院地址：南宁市兴宁区邕武路16号
                    li 咨询Q Q：2586200340/2586281719
                    li 联系电话：0771-3926401/0771-3926409
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='offical/images/qcore1.png')
                span.text-center 特色专业网
            div.col-xs-4.qcore-box
                a(target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=69de23efccf39bd79e715316c7a1b533725dc8d9c36d6ae0fe85c2c4f1b1e6ef")
                    img(src='offical/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=a28679671df064f2c8f2f8a2a1ee5a48a578c5a30ef9723e5635a1f4b45ce942")
                    img(src='offical/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 南宁工贸职业技术学校特色专业网   ©版权所有