footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='offical/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li( style='color:#0072b0;')
                        a(href='http://www.hszx.com.cn/',style='color:#0072b0;' target='_blank') 学校官网
                        |   |
                        a(href='/zszt',style='color:#0072b0;' target='_blank')  招生专题网
                    li 学院地址：惠水县和平镇纸酒大道1号（县政府服务中心旁）
                    li 咨询Q Q：2606014642&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2609812260
                    li 联系电话：0854-6220766/0854-6220466
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='offical/images/qcore1.jpg')
                span.text-center 招生专题网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=797af83714ec5acf2f62d7612f8006c8a2fd78bed1c6dd97e3cdd2698da30016')
                    img(src='offical/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=8453857b2150d5f7f7109d70450d6a17786b9a2f42ab2f1e7314749c44828c57')
                    img(src='offical/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 惠水中等职业技术学校特色专业网   ©版权所有