extends layout

block content
    script(type="text/javascript" src='offical/js/teacher.js')
    div.center.banner
        img.img-responsive.pc-bg(src='offical/images/banner.jpg')
        img.img-responsive.m-bg(src='offical/images/m-banner.png')
    div.container.center
        div.col-md-3.col-xs-12.row.pc-bg
            div.zhaosheng
                a(href='/zszt/brochure')
                    img.img-responsive(src='offical/images/bg7.png')
                a(href='/zszt/news')
                    img.img-responsive(src='offical/images/bg8.png')
        div.col-md-9.col-xs-12.info
            div.info-title
                h4 师资队伍
            div.teacher-title
                span 学校汇聚一支学术造诣深厚、科研水平高的教师队伍，其中高级职称占20％，双师型教师占30.6％。相关老师具有丰富的教学经验和企业项目实操经验，深耕教学，帮助学生成长成才。相关专业老师既能胜任理论教学，还能指导学生实践，在各项科研、学术领域成绩突出。
            div.teacher
