html{
	height: 100%;	
}
html,body{
	font-family: "微软雅黑";
}
body{
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	min-height: 500px;
	left: 0;
	-webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2;
}
a{
	color: #000;
}
a:hover,a:focus{
	color: #000;
	text-decoration: none;
	outline:hidden;
}
h4{
	color: #333;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.container{
	padding: 0;
}
.center{
	margin: 27px auto;
}

#none{
	display: none;
    margin: 15px 0;
}
footer{
	width: 100%;
	height: 205px;
    position: relative;
    border-top: 2px solid #0d7f53;
    background: #eeefef;
}
.footer-content{
	padding: 2% 0 0;
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.footer-content li,footer span{
	color: #404040;
}
.footer-content li{
	margin-left: 15%;
}
.footer-content li a{
	color: #0d7f53;
}
footer span{
	display: block;
}
.footer-content>div >div img{
	display: block;
	margin: 5px auto;
}
.footer-content >div:nth-of-type(2){
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
}
.qcore-box span{
	font-size: 12px;
}
.footer-content >div:nth-of-type(2) div{
	border-left: 1px solid #dddede;
	border-right: 1px solid #dddede;
}
.footer-bottom{
	width: 100%;
	position: absolute;
	bottom: 0;
	background:#0d7f53;
}
.footer-bottom span{
	padding: 5px;
	color: #98dfca;
}
.footer-right{
	padding: 0;
}
.news-box >div{
	float: left;
}
.news-box >div:nth-of-type(odd){
	width: 30%;
}
.news-box >div:nth-of-type(2){
	width: 36%;
	margin: 0 2%;
}
.odd-title{
	background: #4ab17e;
	border: 1px solid transparent;
}
.even-title{
	border: 1px solid #d9d9d9;
	overflow: hidden;
}
.even-title > div:first-of-type{
	float: left;
	background: #4ab17e;
	padding: 1px 10px 1px 0;
}
.odd-title i,.even-title i,.major-title i{
	margin: 0 5px 0 10px;
}
.even-title .more i,.even-title .more span{
	color: #a5a5a5;
}
.even-title .more i{
	font-size: 18px;
}
.odd-title i,.odd-title span,.even-title i,.even-title span{
	display: inline-block;
	color: #fff;
}
.more{
	float: right;
	margin: 8px;
	cursor: pointer;
}
.more i{
	margin: 0;
}
.more i,.more span{
	color: #dbefe5;
}
.passageway >div{
	margin: 10px 0;
	padding: 10px 0;
	position: relative;
}
.passageway >div:nth-of-type(odd){
	background: #eeeeee;
}
.passageway >div:nth-of-type(even){
	background: #d9e4e8;
}
.passageway img{
	margin-left: 15px;
}
.passageway >div div{
	position: absolute;
    left: 125px;
    top: 25px;
}
.passageway >div div i{
	font-style: normal;
	color: #aaaeaf;
	text-transform:Uppercase;
	font-size: 12px;
}
.recommand{
	padding: 10px 15px;
    border-bottom: 1px dashed #bcbcbc;
}
.recommand p{
	font-weight: bold;
	color: #0a8759;
	font-size: 16px;
	margin-bottom: 5px;
	word-break:keep-all;           /* 不换行 */
	white-space:nowrap;          /* 不换行 */
	overflow:hidden;               /* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;         /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
	width: 100%;
}
.recommand span{
	height: 40px;
	color: #8a8787;
	display: block;
}
.news-list > div i,.news-list > div p{
	float: left;
	color: #656565;
}
.news-list > div{
	padding: 7px 0;
    overflow: hidden;
}
.news-list > div p{
	margin-bottom: 0;
	font-size: 15px;
	word-break:keep-all;           /* 不换行 */
	white-space:nowrap;          /* 不换行 */
	overflow:hidden;               /* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;         /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
	width: 70%;
}
.news-list > div span{
	float: right;
	color: #9c9c9c;
}
.jiuye > div{
	overflow: hidden;
	background: #f2f2f2;
	margin-bottom: 3px;
	padding: 12px 7px;
}
.jiuye >div i{
	width: 5%;
	float: left;
	color: #333;
}
.jiuye >div p{
	font-size: 15px;
	width: 95%;
	float: left;
	margin-bottom: 0;
	color: #333;
	word-break:keep-all;           /* 不换行 */
	white-space:nowrap;          /* 不换行 */
	overflow:hidden;               /* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;
}
.jiuye >div span{
	display: block;
	color: #9b9b9b;
	margin-top: 3px;
}
.major{
	border: 1px solid #d9d9d9;
}
.major-title{
	background: #f0f0f0;
	padding: 10px;
}
.major-title i,.major-title span{
	color: #4ab17e;
}
.major-title .more{
	margin: 0 8px;
}
.major-title .more i,.major-title .more span{
	color: #0e884c;
}
.major-box{
	overflow: hidden;
	margin: 20px 0;
}
.major-box >div{
	margin: 10px 0;
}
.major-box >div img{
	margin: 0 auto;
}
.zhaosheng img{
	margin-bottom: 20px;
}
.info{
	border: 1px solid #e1e1e1;
}
.info-title{
	padding: 2px 0;
	border-bottom: 2px solid #1ea36f;
}
.info-title h3{
	color: #0a8759;
	font-weight: bolder;
	display: inline-block;
}
.info-title-right{
	float: right;
	margin-top: 25px;
}
.info-title-right i{
	display: inline-block;
	color: #ffc000;
}
.info-title-right span,.info-title-right a{
	color: #b4b4b4;
}
.content{
    margin-top: 4px;
    border-top: 2px solid #ececec;
    padding-top: 5px;
}
.sc-info{
	margin-top: 30px;
    display: block;
}
.list-item{
    margin: 15px 0;
    border-bottom: 1px dashed #ebebeb;
}
.list-item i,.list-item p,.list-item span{
    display: inline-block;
    vertical-align: bottom;
}
.list-item i{
    color: #faba4b;
    font-size: 14px;
    vertical-align: top;
}
.list-item p{
    color: #4e4e4e;
    font-size: 15px;
    line-height: 15px;
}
.list-item span{
	float: right;
    color: #999;
    font-size: 14px;
    line-height: normal;
}
.info-content >div:first-of-type{
	padding-left: 0;
}
.item-nav{
	margin-bottom: 15px;
}
.item-nav > div{
	background: #f5f5f5;
	border-bottom: 1px solid #dbdbdb;
	padding: 20px 0;
	width: 80%;
	cursor: pointer;
}
/*.item-nav > div > a{
	display: block;
	width: 100%;
}*/
.item-nav > div:first-of-type{
	position: relative;
}
.item-nav > div:first-of-type img{
    position: absolute;
    left: -10px;
    top: 7px;
}
.item-nav > div:first-of-type p{
	color: #fff;
    font-weight: bolder;
    position: absolute;
    top: 15px;
    left: 75px;
    font-size: 20px;
}
.item-nav > div i{
	color: #dbdbdb;
	margin-left: 15%;
	-webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2;
}
.item-nav > div span{
	font-size: 17px;
	color: #666;
	font-weight: bold;
	-webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2;
}
.item-nav > div.active i,.item-nav > div:hover i{
	color: #ffc000;
}
.item-nav > div.active span,.item-nav > div:hover span{
	color: #0e814a;
}
.special{
    width: 110px;
    height: 35px;
	background: url(../img/bg8.png) 97% 97% no-repeat;
	border: 1px solid #f6f6f6;
	margin: 10px 0;
}
.special i,.special span{
	padding: 7px 5px;
	display: inline-block;
}
.target i,.target span{
	color: #242e76;
}
.special span{
	font-size: 16px;
	padding-left: 0;
}
.course{
	background: url(../img/bg9.png) 97% 97% no-repeat;
}
.area{
	background: url(../img/bg10.png) 97% 97% no-repeat;
}
.course i,.course span{
	color: #06a28d;
}
.area i,.area span{
	color: #5c801c;
}
.special-box >div{
	margin-bottom: 15px;
}
.special-box >div >span{
	display: inline-block;
	text-indent: 32px;
	font-size: 16px;
	line-height: 26px;
}
.special-box >div >div{
	overflow: hidden;
	margin: 10px 0;
}
.sign{
	width: 86%;
	margin: 0 auto;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border: 10px solid;
    border-image: -webkit-linear-gradient( #fff, #ededed) 30 30;
    border-image: -moz-linear-gradient( #fff, #ededed) 30 30;
    border-image: linear-gradient( #fff, #ededed) 30 30;
    padding: 10px;
    overflow: hidden;
}
.sign .info-title{
	border: 0;
	padding: 0;
}
.sign-form .form-group {
    display: flex;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    justify-content: center;
    align-items: center;
}
.sign-form .control-label{
	float: right;
	padding: 0 !important;
	color: #3e3e3e;
}
.choose {
    position: relative;
    height: 30px;
}
.choose .radio {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #0c4757;
    padding-left: 25px;
    padding-top: 0;
    cursor: pointer;
    top: 4px;
}
.choose .radio input {
    position: absolute;
    left: -9999px;
}
.choose .radio i {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    outline: 0;
    border: 1px solid #e4e4e4;
    background: #ffffff;
    border-radius: 50%;
    transition: border-color .3s;
    -webkit-transition: border-color .3s;
}
.choose .radio input + i:after {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #0e76d2;
    opacity: 0;
    transition: opacity .1s;
    -webkit-transition: opacity .1s;
}
.choose .radio input:checked + i:after {
    opacity: 1;
}
.sign-form .form-group i{
	color: #ee0000;
	font-style: normal;
	display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
    margin-bottom: 0;
    float: initial;
}
.sign-form .form-group span{
	color: #cc0000;
}
.tip span{
	color: #666 !important;
}
.sign-form .btn{
    padding: 6px 25px;
	background: #ffc106;
    -moz-box-shadow: 0px 2px 1px #c99300;
    -webkit-box-shadow: 0px 2px 1px #c99300;
    box-shadow: 0px 2px 1px #c99300;
    width: 30%;
}
.contact-box{
	margin: 10px 0;
}
.contact-box label{
	color: #333;
	font-size: 15px;
}
.contact-box1{
	background: url(../img/bg11.png) 0 0 no-repeat;
}
.contact-box2{
	background: url(../img/bg12.png) 0 0 no-repeat;
}
.contact-box3{
	background: url(../img/bg13.png) 0 0 no-repeat;
}
.contact-box4{
	background: url(../img/bg14.png) 0 0 no-repeat;
}
.contact-box5{
	background: url(../img/bg15.png) 0 0 no-repeat;
}
.contact-box p{
	display: inline-block;
	margin-left: 49px;
    margin-top: 12px;
}
.contact-box span{
	color: #333;
	font-size: 15px;
}
.bus span{
	display: block;
	margin-bottom: 10px;
}
.news{
	margin: 25px 0;
}
.news .h3 {
    display: block;
    width: 80%;
    margin: 0 10%;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}
.news-info {
	margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.news-info span {
    color: #b8b8b8;
    display: inline-block;
    margin: 5px 15px;
    font-size: 14px;
    text-indent: 0;
}
.page img{
	display: block;
	margin: 15px auto;
	max-width: 100%;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #0a924a;
    border-color: #0a924a;
}
.pagination>li>a, .pagination>li>span{
	color: #c3c3c3;
}
.pagination>li>a:focus, .pagination>li>a:hover span, .pagination>li>span:focus, .pagination>li>span:hover{
	color: green !important;
}
