.m-bg,.m-item-nav,.m-page,.target-carousel-box{
	display: none;
}
.m-top a img,.m-logo img{
	display: inline-block;
	margin: 20px;
}
.m-logo{
	background: #246db2;
}
.m-logo span{
	color: #fff;
	font-weight: bolder;
    padding: 10px 20px;
    margin: 0;
    display: inline-block;
}
.m-logo >span >span{
    padding: 0px !important;
    display: inline;
}
.m-logo i{
	font-size: 26px;
	display: inline-block;
	margin: 0 10px;
}
.m-nav-botton{
	float: right;
	margin-right: 15px;
	margin-top: 30px;
}
.m-item-nav{
	overflow: hidden;
}
.m-item-nav >div{
	float: left;
	width: 32%;
	background: #f7f7f7;
	margin-bottom: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
	border: 1px solid #b5b5b5;
}
.m-item-nav >div:nth-of-type(2){
	margin: 0 2% 10px;
}
.m-item-nav >div span{
	color: #0a8759;
    display: block;
    padding: 5px 0;
}
.m-item-nav >div.active{
	background: #29a368;
	border: 1px solid #29a368;
}
.m-item-nav >div.active span{
	color: #fff;
}
