footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='offical/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li( style='color:#0072b0;')
                        a(href='http://www.fky.net.cn/',style='color:#0072b0;' target='_blank') 学院官网
                        |   |
                        a(href='/zszt',style='color:#0072b0;' target='_blank')  招生专题网
                    li 学院地址：安徽省阜阳市清河西路99号
                    li 咨询Q Q：1795264882/1815917287
                    li 联系电话：0558-2235355/0558-2235655
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='offical/images/qcore1.png')
                span.text-center 招生专题网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=18f13ff156b3bda9dcd728278a88b17af34dbb929d893e403380fff76f1842d5')
                    img(src='offical/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=7e90cb7802b97495073a2ff58546d4a772bbd94396b8ca9412bdda16b73c16c6')
                    img(src='offical/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 阜阳科技职业学院——互联网学院   ©版权所有