footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='../zszt/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li
                        a(href='http://www.hszx.com.cn/' target='_blank') 学校官网
                        |   |
                        a(href='/' target='_blank')  特色专业网
                    li 学院地址：淮南市经济技术开发区（大通区）啤酒厂路58号。
                    li 咨询Q Q：2293747352/2293844871
                    li 联系电话：0554-2660811/0554-2669811
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='../zszt/images/qcore1.png')
                span.text-center 特色专业网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=499cc50a5c1afc581e299a3041fa4d0b678c80893bf2a9495155e44412c56fec')
                    img(src='../zszt/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=1c14fda8c5b8be2c6b06b70b8f3301790c3f8a5f258dfdd0bbf1f1d2dd9087b8')
                    img(src='../zszt/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 淮南女子职业学校招生专题网   ©版权所有