footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='offical/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li( style='color:#891b1c;')
                        a(href='',style='color:#891b1c;' target='_blank') 学校官网
                        |   |
                        a(href='/zszt',style='color:#891b1c;' target='_blank')  招生专题网
                    li 学院地址：南宁市兴宁区邕武路16号
                    li 咨询Q Q：1809260785/1809504073
                    li 联系电话：0711-3561598
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='offical/images/qcore1.png')
                span.text-center 学校官网
            div.col-xs-4.qcore-box
                img(src='offical/images/qcore2.png')
                span.text-center 互联网交流群1
            div.col-xs-4.qcore-box
                img(src='offical/images/qcore3.png')
                span.text-center 互联网交流群2
        div.footer-bottom
            span.text-center 涡阳信息工程学校招生专题网   ©版权所有