extends layout

block content
    script(type="text/javascript" src='offical/js/teacher.js')
    div.center.banner
        img.img-responsive.pc-bg(src='offical/images/banner.png')
        img.img-responsive.m-bg(src='offical/images/m-banner.png')
    div.container.center
        div.col-md-3.col-xs-12
            div.zhaosheng
                a(href='/zszt/brochure')
                    img.img-responsive(src='offical/images/bg1.png')
                a(href='/zszt/news')
                    img.img-responsive(src='offical/images/bg2.png')
        div.col-md-9.col-xs-12.info
            div.info-title
                h4 师资队伍
                    p
                div.info-title-right.pc-bg
                    span
                        a(href='/') 首页
                    span >
                    span
                        a(href='/teacher') 师资队伍
            div.teacher-title
                span 互联网学院师资力量雄厚，拥有一支职称、年龄、学历结构合理、教学经验丰富、实践能力强、科研水平高、富有创新意识和充满活力的教学、科研教师团队。独创一套双师型教学方式，具备多年的企业工作经验和学校教学经验的双师型教师授课，为学生以后的学习、就业提供更好的方向。
            div.teacher
