footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='../zszt/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li(style='color:#891b1c;')
                        a(href='#' target='_blank') 学校官网
                        |   |
                        a(href='/' target='_blank')  招生专题网
                    li 学院地址：鄂州市开发区樊蒲大道37号（蒲团吉刘街）
                    li 咨询Q Q：1809260785/1809504073
                    li 联系电话：0711-3561598
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                //img(src='images/qcore1.png')
                span.text-center 学校官网
            div.col-xs-4.qcore-box
                a(target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=82bc095bad33221e2e6d7da98201a49a3c7ff96a0f8d91faa1ce611a67090185")
                    img(src='../zszt/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=bb90956f7cc9f5ff4ef5601c21e4d3883888de14587bdc5cb2b1fde1260f2af4")
                    img(src='../zszt/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 涡阳信息工程学校招生专题网   ©版权所有