footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='offical/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li( style='color:#007e40;')
                        a(href='http//:www.lpszszx.30dao.cn',style='color:#007e40;' target='_blank') 学校官网
                        |   |
                        a(href='/zszt',style='color:#007e40;' target='_blank')  招生专题网
                    li 学院地址：红桥新区政府后侧
                    li 咨询Q Q：2586325613/2586616217
                    li 联系电话：0858-6664523/0858-6664548
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                //img(src='images/qcore1.png')
                span.text-center 招生专题网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=61bc7cc6be5777fc6efdc3e0edd1b666acea48b805eff3c65be4d70cdddc29c5')
                    img(src='offical/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=ab69b04a2cdcf43a98f4733a096067ca55a24dd8299a5f5aaeb14f1a2ed58cba')
                    img(src='offical/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 安徽砀山秋实职业技术学校特色专业网   ©版权所有