footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='../zszt/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li(style='color:#007e40;')
                        a(href='http://lpszszx.30edu.com.cn/' target='_blank') 学校官网
                        |   |
                        a(href='/' target='_blank' )  特色专业网
                    li 学院地址：红桥新区政府后侧
                    li 咨询Q Q：2586325613/2586616217
                    li 联系电话：0858-6660324/0858-6660327
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='../zszt/images/qcore1.jpg')
                span.text-center 特色专业网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=fbe632872d1c433779f59a6305c9bc2a299dca4eaa8bf4ec0852b9ee07cd121e')
                    img(src='../zszt/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=a83150eba62ccfeb332d14737f98eb49d985cb12f3ac865299602dc013a69b58')
                    img(src='../zszt/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 六盘水市钟山区职业技术学校招生专题网   ©版权所有