footer
    div.container.footer-content
        div.col-md-4.col-xs-12
            img.img-responsive(src='offical/images/footer-logo.png')
        div.col-md-4.col-xs-12.footer-right
            div.col-mg-11.col-xs-12
                ul.list-inline
                    li( style='color:#fefefe;')
                        a(href='http://www.hbhkjsxx.com/',style='color:#fefefe;') 学校官网
                        |   |
                        a(href='/zszt',style='color:#fefefe;')  招生专题网
                    li 学院地址：鄂州市开发区樊蒲大道37号（蒲团吉刘街）
                    li 咨询Q Q：1829074487/1802046758
                    li 联系电话：0711-3561598/0711-5903470
        div.col-md-4.col-xs-12
            div.col-xs-4.qcore-box
                img(src='offical/images/qcore1.jpg')
                span.text-center 特色专业网站
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=6ed8665b6d0e22652dd9dfea6384c21101cfd768107b302acaa0cf83b13f173b')
                    img(src='offical/images/qcore2.png')
                    span.text-center 新生交流群1
            div.col-xs-4.qcore-box
                a(target="_blank" href='//shang.qq.com/wpa/qunwpa?idkey=814bd4937c4a6a2d4ee6c3e5f8b39999998dcb119a1a148a4207bf44523eae5f')
                    img(src='offical/images/qcore3.png')
                    span.text-center 新生交流群2
        div.footer-bottom
            span.text-center 湖北航空技术学校特色专业网   ©版权所有